    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Poppins:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat',sans-serif;
    background-color: black;
    /* background: "rainforrest.jpg"; */
}
.head{
    position: fixed;
    top:0%;
    left: 0%;
    width: 100% ;
    padding: 30px 5%;
    background: transparent;
    display: flex;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 30px;
    color: aliceblue;
    text-decoration: none;
    font-weight: 700;
}
.social{
    margin: 0 auto 0 50px;
}
.social a{
    display: inline-flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 6px;
    text-decoration: none;
    margin-right: 10px;
    transition: .5s;
}
.social a:hover{
    background-color: aliceblue;
}
.social a i{
    font-size: 20px;
    color: aliceblue;
    position: relative;
}

.navbar a{
    position: relative;
    color: aliceblue;
    text-decoration: none;
    margin-left: 40px;
    font-size: 1.1em;
    font-weight: 700;

}
.navbar a::after{
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -6px;
    height: 3px;
    background: aliceblue;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
}
.navbar a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}
